.game-component {
  /* display: flex; */
  text-align: center;
  margin-top: 1%;
}
.btn btn-secondary btn-lg {
  background-color: white;
  margin-top: 5%;
}

.computer-header, .player-header {
  text-align: center;
  color: salmon;
  font-weight: bolder;
  font-style: oblique;
}

.btn btn-light {
  border: silver;
  color: slategrey;
  size: 24px;
}
