<div class="card" style="border: 1px solid black; height: 150px !important; width: 200px !important; margin-left: 45%;">
  <div class="p-d-flex" style="text-align: center">
  <div style="font-weight: bold">Score Board</div>
  <div>Computer</div>
  <p>{{ computerScore }}</p>
  <p-divider layout="vertical" type="solid"></p-divider>
  <div>Player</div>
  <p>{{ playerScore }}</p>
</div>
</div>

<div class="card" style="border: 1px solid black; margin-top: 2%;">
  <p-splitter [style]="{'height': '500px'}" styleClass="p-mb-5" layout="vertical">
    <ng-template>
      <div class="p-col p-d-flex p-ai-center p-jc-center">
        Computer
        <button pButton pRipple type="button" class="p-button-rounded p-button-info p-button-outlined" styleClass="p-button-lg"><i class='fas fa-hand-rock'></i></button>
        <button pButton pRipple type="button" class="p-button-rounded p-button-info p-button-outlined" styleClass="p-button-lg"><i class='fas fa-hand-paper'></i></button>
        <button pButton pRipple type="button" class="p-button-rounded p-button-info p-button-outlined" styleClass="p-button-lg"><i class='fas fa-hand-scissors'></i></button>
      </div>
    </ng-template>
    <ng-template>
      <div class="p-col p-d-flex p-ai-center p-jc-center">
        Player
        <button pButton pRipple type="button" class="p-button-rounded p-button-info p-button-outlined" styleClass="p-button-lg"><i class='fas fa-hand-rock'></i></button>
        <button pButton pRipple type="button" class="p-button-rounded p-button-info p-button-outlined" styleClass="p-button-lg"><i class='fas fa-hand-paper'></i></button>
        <button pButton pRipple type="button" class="p-button-rounded p-button-info p-button-outlined" styleClass="p-button-lg"><i class='fas fa-hand-scissors'></i></button>
      </div>
    </ng-template>
</p-splitter>
</div>
