<div class="winner-card">
  <p-card *ngIf="showWinner !== ''" [style]="{width: '250px'}">
    <h1>{{ showWinner }}</h1>
    <!-- <button type="button" class="btn btn-outline-dark" *ngIf = "showResetButton" (click) = "startOver()">Start Over</button> -->
    <!-- <button type="button" class="btn btn-light" *ngIf = "showResetButton" (click) = "reset()">Start Over</button> -->
    <button pButton type="button" label="Start Over" class="ui-button-rounded" *ngIf = "showResetButton" (click) = "reset()"></button>
</p-card>
</div>
