<h1 class = "header">Rock Paper Scissor</h1>
<div class="card" style="height: 150px !important; width: 200px !important; padding-top: 10px;  margin: auto;">
  <div class="p-d-flex" style="border: 1px solid black; margin-top: 10px;">
  <div style="font-weight: bold; font-size: large; color: sandybrown">Score Board</div>
  <div style="color: salmon;">Computer: <p>{{ computerScore }}</p></div>
  <p-divider layout="vertical" type="solid"></p-divider>
  <div style="color: salmon">Player: <p>{{ playerScore }}</p></div>
</div>
</div>
